<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><b><%= title %></b></h1>
    <p id="value_1">0.00</p>
    <p id="value_2">0.00</p>
    <p id="value_3">0.00</p>
    <button>Click to start audio</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="module" src="/client.js"></script>
  </body>
</html>
